<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.ats.simpleRPC.*"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="com.ats.simpleRPC.registry.ServiceDiscovery">
        <constructor-arg name="registryAddress" value="127.0.0.1:2181"/>
    </bean>

    <bean id="rpcClient" class="com.ats.simpleRPC.client.RpcClient">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
    </bean>

    <bean id="serviceRegistry" class="com.ats.simpleRPC.registry.ServiceRegistry">
        <constructor-arg name="registryAddress" value="127.0.0.1:2181"/>
    </bean>

    <bean id="rpcServer" class="com.ats.simpleRPC.server.RpcServer">
        <constructor-arg name="serverAddress" value="127.0.0.1:18866"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>